.container {
  display: flex;
  height: 100vh;
}
.left-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 50%;
  width: 100%;
}
.right-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.login-form {
  width: 100%;
  max-width: 400px;
}
.left-pane img {
  max-width: 100%;
  height: auto;
}
.full-width {
  width: 100%;
}

