<main class="main-content">
  <div class="container">
    <!-- Barre de recherche avancée -->
    <mat-card class="search-card">
      <mat-card-content>
        <mat-form-field class="search-field">
          <input matInput placeholder="Rechercher...">
        </mat-form-field>
        <button mat-raised-button color="primary" class="search-button">Rechercher</button>
      </mat-card-content>
    </mat-card>
  
    <!-- Liste des offres d'emploi avec pagination -->
    <div class="job-list">
      <mat-card *ngFor="let job of pagedJobs" class="job-card">
        <mat-card-header>
          <mat-card-title>{{ job.title }}</mat-card-title>
          <mat-card-subtitle>{{ job.company }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ job.description }}</p>
          <!-- Ajoutez d'autres détails de l'offre d'emploi ici -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Postuler</button>
          <!-- Ajoutez d'autres actions ici -->
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Pagination -->
    <mat-paginator [length]="jobs.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</main>
